body {
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(34, 34, 34);
}
.ul-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.title-text {
  font-size: 45px;
  font-family: 'Open Sans';
  color: white;
}
.page-text {
  font-size: 25px;
  font-family: 'Open Sans';
  color: white;
}
.white-text {
  color: white;
  font-family: 'Open Sans';
  font-size: 15px;
}
.div-page {
  padding: 50px;
}
.table-divider {
  padding-left: 50px;
}
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
  }
  
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #333;
  }
.pagetext {
  text-align: right;
  float: right;
}
.divtext {
  display: flex;
}
.center {
  margin: auto;
  text-align: center;
}
.login-form {
  margin-top: 1cm;
  border: 5px solid #4CAF50;
  border-radius: 4px;
  background-color: #4CAF50;
  text-align: center;
  color: white;
}
input::placeholder{
  color: white;
}